.row.aside{
	margin-top: 20px;
	margin-left: -15px;
}

.carousel-item{
	width: 95%;
}

.carousel-control-next-icon{
	height: 60px;
	background-color: #2B2B2B;
	opacity: 0.7;
}

.carousel-control-prev-icon{
	height: 60px;
	background-color: #2B2B2B;
	opacity: 0.7;
}