.row.footer__row .col-md-4 img{
	padding-top: 40px;
	padding-left: 10px;
	padding-bottom: 20px;
	width: 150px;

}

.row.footer__row{
	background-color: $bgBlue;

}

footer h6{
	@include title-footer;
}

footer p{
	@include title-footer;
	font-weight: normal;
	line-height: 1.3;
}

.text--right{
	@include title-footer;
	padding-top: 15px;
	text-align: right;
	font-weight: normal;
	color:#DEE3E3;
}

footer input{
	width: 100%;
	margin-bottom: 15px;
}

footer input +i{
	display: inline-block;
	margin-left: -30px;
}

footer button{
	background-color: $bgBlue;
	border:2px solid $bgLightGrey;
	color: $bgLightGrey;
	margin-top: 20px;
}

button + p{
	margin-top: 50px;
	margin-bottom: 20px;
}

 .fa-facebook-f, .fa-twitter, .fa-youtube, .fa-instagram{
 	font-size: 30px;
	color: $bgLightGrey;
	padding:10px;
}

.row--one{
	padding-left: 10px;
	border-bottom: 0.1px solid $bgLightGrey;
	margin-right: 0px;
}

.row--two{
	padding-top: 30px;
	padding-left: 10px;
}