.ticket-background{
	margin-top:20px;
	background-color: $bgBlue;
	width: 90%;
	height: 250px;
}

.ticket-background p{
	margin-top: 20px;
	@include title-footer;
	padding-left: 15px;
	font-size: 17px;
	line-height: 1;
}

.ticket-background p:hover{
	text-decoration: underline;
}

.logo{
	padding:15px;
	width: 250px;
	text-align: center;
}